<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'Genres', user_genres_path(current_user) %> |
<%= link_to 'Games', user_games_path(current_user) %>
