<p id="notice" class = "row d-flex justify-content-center h4"><%= notice %></p>

<p class="row d-flex justify-content-center">
  <strong class="main-text h2 mb-5 font-weight-bold">Oh, you shouldn't be here.</strong>
</p>


<p>
  <strong class="main-text h4 row justify-content-center"><%= link_to 'Go Back', user_path(current_user), class: "p-1 main-text"%></strong>
</p>