<h1 class = "h1 text-center title">New User</h1>

<%= render 'form', user: @user %>

<p>
  <strong class="main-text h4 row justify-content-center"><%= link_to 'Back', root_path, class: "p-1 main-text"%></strong>
</p>

