<h1>New Game</h1>

<%= render 'form', game: @game %>
<% options = options_from_collection_for_select(@genre, 'name', 'description') %>
<%= f.select :all_val,  options %>
<%= link_to 'Back', games_path %>
