<header class="navbar sticky-top navbar-inverse">
  <div class="container pt-3">
    <nav class = "justify-content-right ml-auto">
      <ul class="nav navbar-nav navbar-right">
        <%= header_items %>
      </ul>
    </nav>
  </div>
</header>