<header class="navbar sticky-top navbar-inverse">
  <div class="container pt-3">
    <nav class = "align-self-right ml-auto">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Home", user_path(current_user), class: "link" %></li>
          <li><%= link_to "Log Out", '/logout', class: "link" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>