<header class="navbar sticky-top navbar-inverse">
  <div class="container pt-3 pr-1 mr-1">
    <nav class = "align-self-right ml-auto mr-0">
      <ul class="nav navbar-nav navbar-right">
        <%= header_items %>
      </ul>
    </nav>
  </div>
</header>