<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Home", current_user_path %></li>
          <li><%= link_to "Log Out", '/logout' %></li>
        <% else %>
          <li><%= link_to "Log in", '/login' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>