<header class="navbar navbar-sticky-top navbar-inverse">
  <div class="container">
    <nav class = "align-self-right">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Home", user_path(current_user) %></li>
          <li><%= link_to "Log Out", '/logout' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>