<header class="navbar sticky-top navbar-inverse mr-0">
  <div class="container pt-3 mr-0 pr-0">
    <nav class = "align-self-right ml-auto mr-0">
      <ul class="nav navbar-nav navbar-right">
        <%= header_items %>
      </ul>
    </nav>
  </div>
</header>