<header class="navbar navbar-fixed-top navbar-inverse row justify-content-center">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Home", user_path(current_user) %></li>
          <li><%= link_to "Log Out", '/logout' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>