// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  height: 100vh;
  background-image: linear-gradient(200deg, rgb(134, 17, 138) 0%, rgb(32, 141, 192) 60%, rgb(9, 131, 212) 100%);
}
.main-text{
  color: white;
  font-family: 'proxima-nova', sans-serif !important;
}