<p id="notice"><%= notice %></p>

<h1 class = "h1 text-center">Genres</h1>

<table class = "table table-hover">
  <thead>
    <tr>
      <th class = "main-text col text-center mr-5">Name</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_user.genres.each do |genre| %>
      <tr>
        <td class = "main-text"><%= genre.name %></td>
        <td><%= link_to 'Show', user_genre_path(current_user, genre.id), class: "main-text" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  <strong class="main-text h4 row justify-content-center"><%= link_to 'New Genre', new_user_genre_path(current_user), class: "p-1 main-text"%></strong>
</p>
