<p id="notice" class = "row d-flex justify-content-center h4"><%= notice %></p>

<h1 class = "h1 text-center mb-5">Genres</h1>


  <%= lister(@ordered) %>


<p class = "mt-5 col-6 mx-auto border-top">
  <strong class="main-text h4 row justify-content-center"><%= link_to 'New Genre', new_genre_path, class: "p-1 main-text"%></strong>
</p>
