<p id="notice" class = "row d-flex justify-content-center h4"><%= notice %></p>

<h1 class = "h1 text-center mb-5">Genres</h1>


  <% @ordered.each do |genre| %>
    <p>
      <strong class="main-text h4 row justify-content-center"><%= link_to "#{genre.name}", genre_path(genre.id), class: "p-1 main-text" %></strong>
    </p>

  <% end %>



<p class = "mt-5 col-6 mx-auto border-top">
  <strong class="main-text h4 row justify-content-center"><%= link_to 'New Genre', new_user_genre_path(current_user), class: "p-1 main-text"%></strong>
</p>
