<h1 class = "h1 text-center my-3">New Genre</h1>

<%= render 'form', genre: @genre %>

<p>
  <strong class="main-text h4 row justify-content-center"><%= link_to 'Back', user_genres_path(current_user), class: "p-1 main-text"%></strong>
</p>
