<h1 class = "h1 text-center my-4">New Genre</h1>

<%= render 'form', genre: @genre %>

<p>
  <strong class="main-text h4 row justify-content-center"><%= link_to 'Back', genres_path, class: "p-1 main-text"%></strong>
</p>
